.footer-container{
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    height: 100%;
    color: white;
    
    
}

.footer-info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wpp-info-church{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.IEQ{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}